h1{
    color: white;
    font-size: xx-large;
}

#buttonM19{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: blueviolet;
    color: white;
}


.Formulario{
    background-color: white;
    margin-left: 9%;
    margin-right: 10%;
    margin-top: 4%;
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 1%;
}

label{
    display: block;
    margin-bottom: 5px;
    font-size: larger;
    margin-left: 2%;
}

#areatextM19{
    font-size: 16px;
    font-weight: 600;
    max-width: 100%;
    outline: none;
    margin-left: 2%;
    width: 1300px;
}

#textareaM19{
    height: 150px;
    font-weight: 600;
    max-width: 100%;
    margin-left: 2%;
    width: 1300px;
}
