.container.content-1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}

.btn-checkout{
    margin-left: 5%;
}

.btn-checkout:hover{
    background-color: white !important;
}

.container.content {
    padding-bottom: 50px;
}



.container>.cart-items{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 150px;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 25px;
}

.img-trashcan{
    max-width: 250px;
    max-height: 50px;
}

.img-product{
    max-width: 250px;
    max-height: 50px;
}

.col.trash {
    max-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.shooping-title{
    color:white;
}

.cart-icon{
    margin-right: 15px;
    max-width: 50px;
    max-height: 25px;
}



.col.image{
    max-width: 20%;
}

.col.title{
    color :black;
}

.col.title>h3{
        font-size: calc(1.0rem + .6vw);
    
}


.col.price{
    color:black;
}
