.btn{
    color:white;
    font-weight: 500;
    border: none;
    width: 200px;
    margin-right: 15px;
    background-color: rgb(212, 114, 224);
}

.container-title{
    color:white;
}

.container-subtitle{
    display:flex;
    align-items: center;
    color:white;
}

.container-subtitle h2{
    font-weight: 600;
    font-style:normal;
}

.container-mockup-3{
    padding: 5%;
}

.container-footer{
    position:fixed;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}

